$buttonConfig: 'large' 500px 50px, 'small' 100px 30px;
$background-color: cadetblue;
$main-color: chocolate;
@mixin circle { border-radius: 100%; }

/* Below are styling that are relevant to the demo */
.modal {
  display: none; // What's the difference between display: none, visibility: hidden, and opacity: 0?
  justify-content: center;
  align-items: center;

  position: fixed;
  height:100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
}

span {
  @include circle();

  display: inline-block;

  width: 200px;
  height: 200px;
  background-color: $main-color;

  /* transition animation */
  position: absolute;

  &.position-initial{
    left: 70%;
    transition: left 5s;
  }

  &.position-left {
    left: 20%;
    transition: left 5s;
  }

  /* Order of the Blocks
  The order of the blocks matters. (Try moving &.position-left block up and see what happens)
   */

  /* About Ampersand
  span { &.a {} }  compiles to
  span.a {}

  span { & .a{} }  compiles to
  span .a{}
   */
}



/*
Below are styling that are irrelevant to the demo
 */
*, *::before, *::after {
  box-sizing: border-box; // account for border/padding in width
}

html,
body {
  height: 100vh;
}

body {
  margin: 0;
}

button {
  @include circle();
  margin: 30px;
}

.section {
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: $background-color;

  @each $size, $button-size, $font-size in $buttonConfig {
    .button-#{$size} {
      width: $button-size;
      height: $button-size;
      font-size: $font-size;
    }
  }
}
